# Algorithmic Trading Overview

* Algorithmic Trading means using computers to make investment decisions
* There are many types of algorithmic trading. The main difference is there speed of execution.

# The Algorithmic Trading Landscape

* Renaissance Technologies : `$` 165 B in AUM
* AQR Capital Management : `$` 61 B in AUM
* Citadel Securities : `$` 32 B in AUM

# Algorithmic Trading & Python

* Python is the most popular language for algorithmic trading.
* However, Python is slow. This means that it is often used as a "glue language" to trigger the code that runs in other languages.

* One example of this is the `Numpy` library for python, the core underline functionality is written in `C`, much faster language.

# The Algorithmic Trading Process

1. Collect Data
2. Develop a hypothesis for a strategy
3. Backtest that strategy
4. Implement the strategy in production

# S&P 500 Project Overview

* The S&P 500 is the world's most popular stock market index. 
* Many investment funds are benchmarked to the S&P 500. This means that they seek to replicate the performance of this index by owning all of the stocks that are held in the index.

# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of user's portfolio and tell user how many shares of each S&P 500 constituent user should purchase to get an equal-weight version of the index fund.

## Library Imports
The first thing is to import the open-source software libraries.

In [1]:
import numpy as np
import pandas as pd
import math
import xlsxwriter
import yfinance as yf
import warnings
from datetime import datetime
warnings.filterwarnings('ignore')

# Importing Our List of Stocks
The next thing is to import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Now it's time to import these stocks to Jupyter Notebook file.

In [2]:
sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

symbols_list = sp500['Symbol'].unique().tolist()

end_date = datetime.today().strftime('%Y-%m-%d')

start_date = pd.to_datetime(end_date)-pd.DateOffset(1)

df = yf.download(tickers=symbols_list,
                 start=start_date,
                 end=end_date).stack()

df.index.names = ['date', 'ticker']

df.columns = df.columns.str.lower()

df.dropna()

[*********************100%%**********************]  503 of 503 completed

Price               adj close       close        high         low        open  \
date       ticker
2024-06-10 A       133.029999  133.029999  133.850006  132.250000  132.869995
           AAL      11.490000   11.490000   11.570000   11.370000   11.430000
           AAPL    193.119995  193.119995  197.300003  192.149994  196.899994
           ABBV    170.460007  170.460007  170.750000  167.690002  169.000000
           ABNB    148.070007  148.070007  148.320007  146.000000  146.009995
...                       ...         ...         ...         ...         ...
           XYL     139.250000  139.250000  139.250000  136.570007  136.929993
           YUM     137.809998  137.809998  140.270004  137.690002  139.880005
           ZBH     112.879997  112.879997  113.250000  111.440002  112.830002
           ZBRA    302.600006  302.600006  303.769989  295.079987  298.820007
           ZTS     178.830002  178.830002  179.759995  176.020004  176.570007

Price                volume
date       ticker
2024-06-10 A        1673600
           AAL     23421000
           AAPL    97262100
           ABBV     4247500
           ABNB     3080300
...                     ...
           XYL      1304100
           YUM      1717000
           ZBH      1214500
           ZBRA      227800
           ZTS      2506900

[503 rows x 6 columns]

In [3]:
df.reset_index(level=0, drop=True, inplace=True)
df.rename(columns={'adj close':'Stock Price', 'volume':'Market Capitalization'}, inplace=True)
df['Ticker'] = df.index
df['Number of Shares to Buy'] = 'N/A'
final_df = df[['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']]
final_df.reset_index(drop=True, inplace=True)
final_df.dropna()

Price Ticker  Stock Price  Market Capitalization Number of Shares to Buy
0          A   133.029999                1673600                     N/A
1        AAL    11.490000               23421000                     N/A
2       AAPL   193.119995               97262100                     N/A
3       ABBV   170.460007                4247500                     N/A
4       ABNB   148.070007                3080300                     N/A
..       ...          ...                    ...                     ...
498      XYL   139.250000                1304100                     N/A
499      YUM   137.809998                1717000                     N/A
500      ZBH   112.879997                1214500                     N/A
501     ZBRA   302.600006                 227800                     N/A
502      ZTS   178.830002                2506900                     N/A

[503 rows x 4 columns]

# Calculating the Number of Shares to Buy

In [6]:
def portfolio_input():
    while True:
        try:
            return float(input('Enter the value of your portfolio: '))
        except ValueError:
            print('Please enter number only!\nTry Again.')

In [7]:
position_size = portfolio_input()/len(final_df.index)

final_df['Number of Shares to Buy'] = position_size // final_df['Stock Price']
final_df

Enter the value of your portfolio:  I am Vraj

Please enter number only!
Try Again.

Enter the value of your portfolio:  10000000

Price Ticker  Stock Price  Market Capitalization  Number of Shares to Buy
0          A   133.029999                1673600                    149.0
1        AAL    11.490000               23421000                   1730.0
2       AAPL   193.119995               97262100                    102.0
3       ABBV   170.460007                4247500                    116.0
4       ABNB   148.070007                3080300                    134.0
..       ...          ...                    ...                      ...
498      XYL   139.250000                1304100                    142.0
499      YUM   137.809998                1717000                    144.0
500      ZBH   112.879997                1214500                    176.0
501     ZBRA   302.600006                 227800                     65.0
502      ZTS   178.830002                2506900                    111.0

[503 rows x 4 columns]

# Formatting Our Excel Output
I will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

Initializing our XlsxWriter Object

In [9]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine='xlsxwriter')
final_df.to_excel(writer, 'Recommended Trades', index=False)

# Creating the Formats Needed For .xlsx File

* String format for tickers
* `$XX.XX` format for stock prices
* `$XX,XXX` format for market capitalization
* Integer format for the number of shares to purchase

In [10]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_format = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_format = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

# Applying and Saving the Formats to the Columns of .xlsx File

Here's an example:
``` python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     format #This applies the format 'format' to the column
                    )

```

In [11]:
column_formats = { 
                    'A': ['Ticker', string_format],
                    'B': ['Price', dollar_format],
                    'C': ['Market Capitalization', dollar_format],
                    'D': ['Number of Shares to Buy', integer_format]
                    }

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], string_format)

writer.close()